# * PNPM settings
# https://pnpm.io/npmrc#node-linker
node-linker=hoisted # We need this because of React Native

# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=true # This only works for new dependencies
